/* Global Styles */

* {
    margin: 0;
    padding: 0;
}

/* Utility Classes */

.mono-text {
    font-family: 'Courier New', Courier, monospace;
}

.read-text {
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

/* Element Classes */

.timeline {
    text-align: center;
    margin: 1em;
}

nav {
    margin-left: 0.5em;
}

.tag-toggle {
    appearance: none;
    display: inline-block;
    position: relative;
    border: 1px solid black;
    padding: 0.4em;
    margin-right: 0.2em;
}

.tag-toggle:checked:after {
	position: absolute;
	content: '■';
	font-size: 1em;
	color: black;
	top: -0.25em;
	left: 0.10em;
}

.tag-toggle:focus {
    outline: 0;
}

.group {
    border: 1px solid black;
    height: fit-content;
    padding: 0.5em;
    margin: 0.5em 0.5em;
}

.advent {
    border:1px solid black;
    padding: 0.5em;
    margin-top: 1em;
}

.advent .title {
    font-size: larger;
    font-weight: bold;
}

.advent .content {
    margin-top: 0.5em;
}
